
body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #333;
    margin-top: 20px;
}

.task {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.task strong {
    color: #2c3e50;
    font-size: 1.2em;
}

.task small {
    color: #7f8c8d;
}

a {
    text-decoration: none;
    color: #3498db;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Arial, sans-serif;
}

label {
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none ;
    overflow: auto;
}

